@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root {
  color-scheme: light dark;
  /* both supported */
  --background-color: #FDFDFD;
  --background-color1: white;
  --background-color2: white;
  --background-gradient: #F7F7F7;
  --line-color: #CCC;
  --line-color2: black;
  --c1: #0969DA;
  --c2: #FEDC3D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0D1117;
    --background-color1: #181C28;
    --background-color2: #181C28;
    --background-gradient: #20293A;
    --line-color: #555;
    --line-color2: white;
    --c1: #FEDC3D;
    --c2: #FEDC3D;
  }
}


.h2-container {
  transition: all 0.3s ease 0s;
}
.h2-container:hover {
  cursor: pointer;
  color: var(--c1);
}
.plus {
  display: none; /* By default */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16pt;
  float: right;
  padding-top: 6px;
  padding-right: 5px;
}
.minus {
  display: inline; /* By default */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16pt;
  float: right;
  padding-top: 6px;
  padding-right: 5px;
}

ol {
  padding-left: 2rem;
}

ol li {
  padding-bottom: 2px;
}


a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

.footer sub {
  font-size: 6pt;
}
body.dark-theme .footer {
  color: #AAA;
}
body.dark-theme .footer a {
  color: #AAA;
}
body.dark-theme .footer a:hover {
  color: var(--c1);
}

.footnote {
  text-decoration: none;
  font-weight: 600;
  font-size: 8pt;
}

.ref {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  padding-left: 10px;
  color: #EEE;
  border-left: solid #CCC 2px;
  color: #777;
}

.ref:hover {
  color: var(--a0);
  transition: ease 0.3s;
  border-left: solid var(--c1) 2px;
}

.footer .ref {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 2px;
}




/* For control components */
div.control {
  padding: 0px;
  display: inline-block;
  vertical-align: text-top;
  margin-bottom: 12px;
  width: 170px;
}

.textoutput {
  font-family: 'Open Sans', sans-serif;;
  font-weight: 400;
  font-size: 11.5pt;
  line-height: 15pt;
}
.textoutput sup {
  font-size: 9pt;
  vertical-align: top;
  position: relative;
  top: -0.6em;
}

.textinput {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 11pt;
  border-radius: 3pt;
  font-weight: 400;
  padding: 5px 10px 5px 10px;
  border: 2px solid #E3E3E3;
  background-color: white;
  transition: all 0.3s ease 0s;
  width: 110px;
  color: inherit;
}

body.dark-theme .textinput {
  border: 2px solid #444444;
  background-color: black;
}

.textinput:hover {
  border: 2px solid var(--c1);
  box-shadow: 0px 0px 4px #AAAAAA;
}

body.dark-theme .textinput:hover {
  border: 2px solid var(--c1);
  box-shadow: 0px 0px 4px #666666;
}

.textinput:focus {
  border: 2px solid var(--c1);
}

body.dark-theme .textinput:focus {
  border: 2px solid var(--c1);
}

.control-label {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 9pt;
}

.control-unit {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #999;
  font-size: 9pt;
}

.output-div {
  display: inline-block;
}

input[type="checkbox"] {
  -webkit-appearance: initial;
  appearance: initial;
  width: 9pt;
  height: 9pt;
  font-size: 10pt;
  border: 1.5px #BBB solid;
  border-radius: 50%;
  background: white;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}

input[type="checkbox"]:checked:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058";
  /* tick unicode. */
  color: var(--c1);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cbC {
  padding: 0px;
  margin: 0px;
}

#select-div {
  width: 200px;
}

select {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 11pt;
  font-weight: 400;
  padding: 5px 10px 5px 10px;
  border: none;
  border-bottom: 2px solid #E3E3E3;
  background-color: white;
  transition: all 0.3s ease 0s;
  width: 197px;
}
body.dark-theme select {
  border: none;
  border-bottom: 2px solid #444444;
  color: white;
}
select:hover {
  border-bottom: 2px solid var(--c1);
}
body.dark-theme select:hover {
  border-bottom: 2px solid var(--c1);
}
select:focus {
  border-bottom: 2px solid var(--c1);
}

option {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 11pt;
  font-weight: 400;
}



/* For plot elements */
.axis {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 10pt;
  font-weight: 400;
}

.axis line {
  stroke: black;
}

body.dark-theme .axis line {
  stroke: white;
}

.axis path {
  stroke: black;
}

body.dark-theme .axis path {
  stroke: white;
}

.axis text {
  fill: black;
}

body.dark-theme .axis text {
  fill: white;
}

.legend-label {
  fill: black;
}

body.dark-theme .legend-label {
  fill: white;
}

.legend-circle {
  fill: #EDEDED;
  stroke: black;
}

body.dark-theme .legend-circle {
  fill: #222;
  stroke: white;
}

.plot-fill {
  fill: white;
}

body.dark-theme .plot-fill {
  fill: #111111;
}

body.dark-theme .diff-line {
  stroke: white;
}


