@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700;800&family=Prompt:wght@600&family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@700&display=swap');

:root {
  color-scheme: light dark;
  /* both supported */
  --background-color0: #EFEFEF;
  --background-color1: white;
  --background-color2: white;
  --background-gradient: linear-gradient(-15deg, #dce8ec, #EFEFEF, #f7f2e5);
  --line-color: #CCC;
  --line-color2: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color0: #20293A;
    --background-color1: #181C28;
    --background-color2: #181C28;
    --line-color: #555;
    --line-color2: white;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: auto 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 11pt;
  transition: 0.3s;
  color: #111;
  background-color: var(--background-color0);
  background-image: var(--background-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.dark-theme {
  color: #DDD;
  background-color: var(--background-color0);
  background-image: var(--background-color0);
}

b {
  /* Format all bolds */
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

p {
  text-align: left;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0px;
}
.sub-note {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 7px;
  border-left: 2.5px solid var(--line-color);
  border-radius: 2px;
  display: inline-block;
  width: 180px;
}
.sub-note:hover {
  transition: all 1s ease 0s;
  border-left: 2.5px solid #C70039;
}

h1.title {
  margin-top: 90px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 48pt;
  font-weight: 800;
  color: #C70039;
}

h2.subtitle {
  margin-bottom: 50px;
  text-align: center;
  font-size: 23pt;
  line-height: 25pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

h3 {
  font-family: 'Prompt', 'Open Sans', sans-serif;
  font-size: 16pt;
  margin-bottom: 12px;
  padding-top: 0px;
  color: black;
  font-weight: 600;
}
.plus {
  display: none; /* By default */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 10pt;
  float: right;
}
.minus {
  display: inline; /* By default */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 10pt;
  float: right;
}

body.dark-theme h3 {
  color: white;
}

h4 {
  font-size: 10pt;
  padding-bottom: 4px;
}

a {
  color: #222222;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

body.dark-theme a {
  color: #FFF;
}

a:hover {
  color: #C70039;
}

body.dark-theme a:hover {
  color: #C70039;
}

div.main {
  margin: 0 auto;
  width: 95%;
  max-width: 700px;
  padding-top: 50px;
  padding-bottom: 50px
}

#btn-toggle {
  margin-bottom: 40px;
}

#btn-toggle a {
  text-decoration: none;
}

#btn-toggle a div {
  font-size: 18pt;
  display: inline;
  vertical-align: middle;
  color: #CCC;
  transition: all 0.3s ease 0s;
  border: solid 1px var(--line-color);
  border-radius: 40px;
  padding: 5px;
  background-color: var(--background-color1);
  margin: 0px;
  box-shadow: 0px 0px 4px #EEE;
}

body.dark-theme #btn-toggle div {
  color: #555;
  border: solid 1px var(--line-color);
  background-color: var(--background-color1);
  box-shadow: 0px 0px 4px #111;
}

#btn-toggle div span {
  padding-left: 5px;
}

ol {
  padding-left: 2rem;
}

ol li {
  padding-bottom: 2px;
}


a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

.footer {
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 60px;
  font-size: 9.5pt;
}

.footer sup {
  font-size: 5.5pt;
}

.footer p {
  padding-top: 3px;
  padding-bottom: 3px;
}

.footnote {
  text-decoration: none;
  font-weight: 600;
}

.ref {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  padding-left: 10px;
  color: #EEE;
  border-left: solid #CCC 2px;
  color: #777;
}

.ref:hover {
  color: var(--a0);
  transition: ease 0.3s;
  border-left: solid #C70039 2px;
}

.footer .ref {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 2px;
}


div.section {
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 25px;
  border-radius: 7px;
  background-color: var(--background-color1);
  border: solid 1px var(--line-color);
  box-shadow: 0px 0px 4px #EEE;
}

body.dark-theme div.section {
  background-color: var(--background-color1);
  border: solid 1px var(--line-color);
  box-shadow: 0px 0px 4px #111;
}

div.sub-section {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}


/* For control components */
div.control {
  padding: 0px 8px 5px 0px;
  display: inline-block;
  vertical-align: text-top;
  margin-bottom: 5px;
  width: 200px;
}

.textoutput {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 11pt;
  border-radius: 3pt;
  width: 190px;
}

.textinput {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 11pt;
  border-radius: 3pt;
  padding: 5px 10px 5px 10px;
  border: 1.5px solid var(--line-color);
  background-color: var(--background-color2);
  color: black;
  transition: all 0.3s ease 0s;
  width: 110px;
  box-shadow: 0px 0px 4px #EEE;
}

body.dark-theme .textinput {
  border: 1.5px solid var(--line-color);
  background-color: var(--background-color2);
  color: white;
  box-shadow: 0px 0px 4px #111;
}

.textinput:hover {
  border: 1.5px solid #C70039;
  box-shadow: 0px 0px 4px #AAAAAA;
}

body.dark-theme .textinput:hover {
  border: 1.5px solid #C70039;
  box-shadow: 0px 0px 4px #666666;
}

.textinput:focus {
  border: 1.5px solid #C70039;
  box-shadow: 0px 0px 4px #AAAAAA;
}

body.dark-theme .textinput:focus {
  border: 1.5px solid #C70039;
  box-shadow: 0px 0px 4px #666666;
}

.control-label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #444;
  font-size: 10pt;
}

body.dark-theme .control-label {
  color: #DDD;
}

.control-unit {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #BBB;
  font-size: 10pt;
}

body.dark-theme .control-unit {
  color: #888;
}

div.control label {
  font-size: 11pt;
  cursor: pointer;
}

.output-div {
  display: inline-block;
}

input[type="checkbox"] {
  -webkit-appearance: initial;
  appearance: initial;
  width: 9pt;
  height: 9pt;
  font-size: 10pt;
  border: 1.5px #BBB solid;
  border-radius: 50%;
  background: white;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}

input[type="checkbox"]:checked {}

input[type="checkbox"]:checked:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058";
  /* tick unicode. */
  color: #C70039;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cbC {
  padding: 0px;
  margin: 0px;
}

#select-div {
  width: 200px;
}

select {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 11pt;
  border-radius: 3pt;
  font-weight: 300;
  padding: 5px 10px 5px 10px;
  border: 2px solid #E3E3E3;
  background-color: white;
  transition: all 0.3s ease 0s;
  width: 197px;
}

body.dark-theme select {
  border: 2px solid #444444;
  background-color: #111111;
  color: white;
}

select:hover {
  border: 2px solid #C70039;
}

body.dark-theme select:hover {
  border: 2px solid #C70039;
}

select:focus {
  border: 2px solid #C70039;
}

option {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 11pt;
  font-weight: 300;
}



/* For plot elements */
.axis {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 10pt;
  font-weight: 200;
}

.axis line {
  stroke: black;
}

body.dark-theme .axis line {
  stroke: white;
}

.axis path {
  stroke: black;
}

body.dark-theme .axis path {
  stroke: white;
}

.axis text {
  fill: black;
}

body.dark-theme .axis text {
  fill: white;
}

.legend-label {
  fill: black;
}

body.dark-theme .legend-label {
  fill: white;
}

.legend-circle {
  fill: #EDEDED;
  stroke: black;
}

body.dark-theme .legend-circle {
  fill: #222;
  stroke: white;
}

.plot-fill {
  fill: white;
}

body.dark-theme .plot-fill {
  fill: #111111;
}

body.dark-theme .diff-line {
  stroke: white;
}
